*{ 
    margin: 0 ;
    padding: 0;  
}

.container{

    padding: 1.5em 0em 1.5em 0em;
}

/*HEADER RULES*/
.heading{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navMenu{

    text-align: right;
}

.navMenu li{
    display: inline;
    padding: 0 0.5rem 0 0.5rem;

}

.spacer{
    min-height: 7vh;
}
.sizeFixer{
    flex:1 1 490px;
}

.spacingRight{
    padding-right: 2rem;
}


.signUp{
    margin-top: 0.5rem;
    background-color: #3882f6;
    border: 1px solid;
    border-radius: 10px;
    border-color: #3882f6;
    padding: 0.5rem;
    font-size: 1.1rem;
}

/*TYPOGRAPHY*/

.primaryWhite{
    color:#f9faf8;
}

.secondaryWhite{
    color: #e5e7eb;
}

.primaryDarkBG{
    background-color: #1f2937 ;
}